<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('partials/header') %>

  <h2>Welcome to the Secure App</h2>
  <p>This is the home page. All major vulnerabilities have been fixed.</p>
</body>
</html>
